*{
  --cc-red: #cd4242;
  --cc-green: #6e986b;
  --cc-blue: #6596cd;
  --cc-grey: #636363;
}

.page-header {
  text-align: center;
}

.navbar {
  background-color: white;
  font-family: Arial, Helvetica, serif;
  font-size: large;
	padding: 0px;
	width: 100%;
  list-style-type: none;
  overflow: hidden;
  align-items: center;
  margin: 0px;

  display: flex;
	flex-flow: row nowrap;
	justify-content: right;
	position: relative;
}

.navbar li{
	padding: 20px 20px;
  margin-bottom: 0px;
	text-decoration: none;
  display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	position: relative;
}

.navbar li:hover a{
  color: white;
}

.navbar li:hover {
  background-color: var(--cc-green);
  padding: 40px 20px;
}

.navbar li a {
  color: var(--cc-blue);
  text-decoration: none;
}

.container {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	max-width: 1500px;
	justify-content: space-around;
	align-items: center;
}

.left-container {
	display: flex;
	flex-flow: row nowrap;
	max-width: 1500px;
	justify-content: space-around;
	align-items: center;
}

.right-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	flex-basis: 300px;
	align-items: center;
  margin-right: 0px;
  white-space: nowrap;
}

.left-container {
	justify-content: flex-start;
}

.right-container {
	justify-content: flex-end;
}

.nav-right {
  padding-right: 0px;
}


.member-name {
  margin-bottom: 0px;
}

.member-bios {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;

}

.member-card {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  width: calc(100% / 2.5);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}



body{
  background-color: #7095C8;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}